name: Deploy Sanity Studio

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: 
      name: ${{ github.ref_name }}
    steps:
      - uses: actions/checkout@v4
      
      - name: Install Dependencies
        run: npm install

        
        
      - name: Deploy
        env: 
          SANITY_AUTH_TOKEN: ${{ secrets.SANITY_AUTH_TOKEN }}
        run: npm run deploy -- --yes